.royalSlider {
   width: 0px;
   height: 0px;
}

.rsFullscreen .rsGCaption {
	font-family: sans-serif, Helvetica;
	font-size: 0.8em;
	position: absolute;
	width: 10%;
	display: inline-block;
	text-align: left;
	bottom: 0px;
	left: 10px;
	display: block;
	background-color: rgba(245, 245, 245, 0.6);
	padding: 10px;
	display: none;
}