<div id="wrapper">
	<div id="content">
		<div id="navigation">
			<ul>
				<li><a href="#take">Take</a></li>
				<!--<li><a href="#do">Do</a></li>-->
				<li><a href="#read">Read</a></li>
				<li><a href="#read">Contact</a></li>
			</ul>
		</div>
		<div id="header-WIP"></div>
		<div id="header">
			
			<div id="logo"><img src="images/face.png" title="Sort of likeness of Nick Cordrey" /></div>
			<div id="header-title"><h1>Nick Cordrey</h1>
				
			</div>
		<h2>is down for maintenance.</h1>
		</div>
	</div>
</div>
