<div class="royalSlider rsDefault">


    <!-- lazy loaded image slide -->
    <a class="rsImg" href="image.jpg"><p>'Budget' <br><i>Whitecliffs, NSW, Australia</i></p></a>
	<a class="rsImg" href="whitecliffs-car.jpg">'Abandoned' <br><i>Whitecliffs, NSW, Australia</i></a>

</div>
