

<div class="royalSlider rsDefault">

    <!-- lazy loaded image slide -->
    <a class="rsImg" href="images/WhitecliffsBandB.jpg"><p>'Budget' <br><i>Whitecliffs, NSW, Australia</i></p></a>
	<a class="rsImg" href="images/Whitecliffs-car.jpg"><p>'Abandoned' <br><i>Whitecliffs, NSW, Australia</i></p></a>
    <a class="rsImg" href="images/Manly_storm.jpg"><p>'Departing storm' <br><i>Manly, NSW, Australia</i></p></a>
	<a class="rsImg" href="images/Mawgan-Porth.jpg"><p>'Long walk' <br><i>Mawgan Porth, Cornwall, UK</i></p></a>
	<a class="rsImg" href="images/Nepal_cloud.jpg"><p>'Descent' <br><i>Annapurna Base Camp, Nepal</i></p></a>
	<a class="rsImg" href="images/Nepal_flags.jpg"><p>'Pray' <br><i>Annapurna Region, Nepal</i></p></a>
    <a class="rsImg" href="images/Nepal_table.jpg"><p>'High Altitude Picnic' <br><i>Annapurna Base Camp, Nepal</i></p></a>
	<a class="rsImg" href="images/Outback_vanishing_point.jpg">'Road to somewhere' <br><i>Outback, NSW, Australia</i></a>
    <a class="rsImg" href="images/tasmania.jpg"><p>'Overland' <br><i>Tasmania, New Zealand</i></p></a>
	<a class="rsImg" href="images/Wildebeest.jpg"><p>'Crowd control' <br><i>Masai Mara, Kenya</i></p></a>
	<a class="rsImg" href="images/manly_sunrise_walk.jpg"><p>'Rise and shine' <br><i>Manly, Sydney, NSW, Australia</i></p></a>
	
</div>

<div class="header">
</div>
