<div id="wrapper">
	<div id="content">
		<div id="header">
		<h1>Nick Cordrey</h1>

		</div>
		<div id="navigation">
			<ul>
				<li><a href="#do">What I do</a></li>
				<li><a href=#>What I read</a></li>
				<li><a href=#>Sites I follow</a></li>
				<li><a href=#>Pics I take</a></li>
			</ul>
		</div>
		<div id="do" class="section">
			<h2><a name="do">What I do</a></h2>
			<p>Well the first thing I need to do is finish this site but fear not... I made this comment on 25 Jan 2012 so won't be long</p>
		</div>
	</div>
</div>
