

<div class="royalSlider rsDefault">

    <!-- lazy loaded image slide -->
    <a class="rsImg" href="images/WhitecliffsBandB.jpg"><p>'Budget' <br><i>Whitecliffs, NSW, Australia</i></p></a>
	<a class="rsImg" href="images/Whitecliffs-car.jpg"><p>'Abandoned' <br><i>Whitecliffs, NSW, Australia</i></p></a>
    <a class="rsImg" href="images/manly_storm.jpg"><p>'Departing storm' <br><i>Manly, NSW, Australia</i></p></a>
	<a class="rsImg" href="images/mawgan_porth_longboard.jpg"><p>'Walk the lines' <br><i>Mawgan Porth, Cornwall, UK</i></p></a>
	<a class="rsImg" href="images/nepal_descent.jpg"><p>'Descent' <br><i>Annapurna Base Camp, Nepal</i></p></a>
	<a class="rsImg" href="images/nepal_flags.jpg"><p>'Say Your Prayers' <br><i>Annapurna Region, Nepal</i></p></a>
    <a class="rsImg" href="images/nepal_picnic.jpg"><p>'No picnic' <br><i>Annapurna Base Camp, Nepal</i></p></a>
	<a class="rsImg" href="images/Outback_vanishing_point.jpg">'Road to somewhere' <br><i>Outback, NSW, Australia</i></a>
    <a class="rsImg" href="images/tasmania.jpg"><p>'Overland' <br><i>Tasmania, New Zealand</i></p></a>
	<a class="rsImg" href="images/kenya_stampede.jpg"><p>'Crowd trouble' <br><i>Masai Mara, Kenya</i></p></a>
	<!--<a class="rsImg" href="images/manly_sunrise_walk.jpg"><p>'Rise and shine' <br><i>Manly, Sydney, NSW, Australia</i></p></a>-->
	<a class="rsImg" href="images/tasmania_reflections.jpg"><p>'Reflecting' <br><i>Tasmania, New Zealand</i></p></a>
	<a class="rsImg" href="images/queenscliff_surfers.jpg"><p>'Queue jumping' <br><i>Queenscliff, Sydney, NSW, Australia</i></p></a>
	<a class="rsImg" href="images/butcher_hairstylist.jpg"><p>'Sweeney' <br><i>Somewhere in Western Australia</i></p></a>
	<a class="rsImg" href="images/milford_sound_reflection.jpg"><p>'No sound' <br><i>Milford Sound, New Zealand</i></p></a>
	<a class="rsImg" href="images/mawgan_porth_desert.jpg"><p>'Desert' <br><i>Mawgan Porth, Cornwall, UK</i></p></a>
	<a class="rsImg" href="images/kenya_sunset.jpg"><p>'Shafts' <br><i>Masai Mara, Kenya</i></p></a>
	<a class="rsImg" href="images/busselton_jetty.jpg"><p>'Pier' <br><i>Busselton, WA, Australia</i></p></a>	
	
</div>

<div class="header">
</div>
