<div id="wrapper">
	<div id="content">
		<div id="header">
		<h1>Nick Cordrey</h1>

		</div>
		<div id="navigation">
			<ul>
				<li><a href="#do">What I do</a></li>
				<li><a href=#>What I read</a></li>
				<li><a href=#>Sites I follow</a></li>
				<li><a href=#>Pics I take</a></li>
			</ul>
		</div>
		<div id="do" class="section">
			<h2><a name="do">What I do</a></h2>
		</div>
	</div>
</div>
