<div class="royalSlider rsDefault">
    <!-- simple image slide -->
    <img class="rsImg" src="image.jpg" alt="image desc" />

    <!-- lazy loaded image slide -->
    <a class="rsImg" href="image.jpg">image desc</a>

    <!-- HTML content slide -->
    <p>Content goes here</p>

    <!-- image and content -->
    <div>
        <img class="rsImg" src="image.jpg" data-rsVideo="https://vimeo.com/44878206" />
        <p>Some content after...</p>
    </div>

    <!-- HTML content -->
    <div>
        Put any HTML content here
    </div>

    <!-- HTML content (100% with and height) -->
    <div class="rsContent">
        Put any HTML content here
    </div>
</div>
