<div class="royalSlider rsDefault">


    <!-- lazy loaded image slide -->
    <a class="rsImg" href="image.jpg"><p>this is a long image desc</p></a>
	<a class="rsImg" href="whitecliffs-car.jpg">Whitecliffs</a>
	<a class="rsImg" href="image.jpg">image desc</a>
	<a class="rsImg" href="image.jpg">image desc</a>

</div>
