<!DOCTYPE html>
<html lang="en"> 
<head>
  <title>Nick Cordrey!</title>

  <%= javascript_include_tag %>
<!-- basic stylesheet -->
<link rel="stylesheet" href="royalslider/royalslider.css">

<!-- skin stylesheet (change it if you use another) -->
<link rel="stylesheet" href="royalslider/default/rs-default.css"> 
<%= stylesheet_link_tag 'reset','styles' %>
<!-- Plugin requires jQuery 1.7+  -->
<!-- If you already have jQuery on your page, you shouldn't include it second time. -->
<script src='royalslider/jquery-1.8.0.min.js'></script>

<!-- Main slider JS script file --> 
<!-- Create it with slider online build tool for better performance. -->
<script src="royalslider/jquery.royalslider.min.js"></script>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>
<script>
    //$(".royalSlider").hide();

	jQuery(document).ready(function($) {
	
		    $(".royalSlider").royalSlider({
            // options go here
            // as an example, enable keyboard arrows nav
            keyboardNavEnabled: true,
			/*autoScaleSlider: true,*/
			imageScaleMode: 'fill',
			arrowsNav: false,
			globalCaption: true,
			controlNavigation: 'none',
			imageAlignCenter: true
        }); 
 		$(".royalSlider").royalSlider('enterFullscreen');
    	$(".rsGCaption").fadeIn('fast');
    });
</script>
</body>
</html>
